nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    position: fixed;
    top: 0px;
    height: 120vh;
    z-index: -1;

    .navIcons {
        position: absolute;
        top: 20%;
        
        .navIcon {
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 10px;
            margin: 20px;
            border-radius: 5px;
            height: 40px;
            width: 40px;
        }
    }

    small {
        width: 200px;
        color: white;
        transform: rotate(270deg);
        font-weight: 500;
        display: flex;
        position: absolute;
        bottom: 30%;
    }
}
